package dishes

import "personal/health-app/service/model"

templ DishList(dishes []model.MealDish) {
	<section class="card p-0 col-span-12 overflow-hidden bg-neutral xl:col-span-6">
		<div class="card-body p-0 grow-0">
			<h2 class="card-title p-4">Dishes</h2>
			<div class="overflow-x-auto" id="dishes">
				<table class="table table-zebra">
					<tbody>
						for _, dish  := range dishes {
							@Dish(dish)
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>
}

templ Dish(dish model.MealDish) {
	<tr class="grid grid-cols-4 xl:grid-cols-5">
		<td class="col-span-1 xl:col-span-2">{ dish.Name }</td>
		<td class="col-span-1 xl:col-span-2">{ dish.Score }</td>
		<td class="col-span-2 text-right xl:col-span-1">
			<div class="join grid grid-cols-2">
				<button class="btn btn-outline btn-sm join-item grow" hx-delete={ "/dish/" + dish.ID }>🗑</button>
				<button class="btn btn-outline btn-sm join-item grow" hx-get={ "/dish/" + dish.ID + "/edit" } hx-target="closest .dish">
					🖊️
				</button>
			</div>
		</td>
	</tr>
}

templ OOBDish(dish model.MealDish) {
	<div hx-swap-oob="beforeend" id="dishes">
		@Dish(dish)
	</div>
}
