package components

templ Counter(counterVal string) {
	<div hx-target="this" hx-swap="outerHTML" hx-ext="debug">
		<input id="counter" value={ counterVal }/>
		<button
 			hx-post="/1/decrement"
 			class="btn bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
 			data-loading-disable
		>
			-
		</button>
		<button
 			hx-post="/1/increment"
 			class="btn bg-blue-700 hover:bg-blue-800 rounded-lg py-2.5 px-4 text-white"
 			data-loading-disable
		>
			+
		</button>
	</div>
}
