package components

import (
	"personal/health-app/service/model"
	"fmt"
	"strconv"
)

templ Sum(activity model.ActivityDetails) {
	<form hx-post={ fmt.Sprintf("%s/sum?date=%s", activity.ID, FormatDate(activity.Date)) } data-loading-states>
		<input type="text" name="sum" value={ strconv.Itoa(activity.Value) }/>
		<button type="submit">Update</button>
	</form>
}
