package counter

import (
	"personal/health-app/views/layout"
	"personal/health-app/model"
	"fmt"
)

const baseIndicatorClass = "text-4xl fa-solid pl-1"

templ CounterIndex(counters []*model.Counter) {
	@layout.App() {
		@CountersList(counters)
	}
}

templ CountersList(counters []*model.Counter) {
	<div class="grid col-span-12 md:grid-cols-2 sm:grid-cols-1 gap-6">
		for _,counter := range counters {
			@Counter(*counter)
		}
	</div>
}

// TODO add the name for the counter form other table

templ Counter(counter model.Counter) {
	<div id={ counter.ID } class="card bg-neutral text-neutral-content w-96 shadow-xl">
		@VisualIndicator(GetNumericFieldsFromModel(&counter))
		<div class="card-body items-center text-center">
			<h2 class="text-xl font-semibold mb-4 text-gray-400">{ counter.Name }</h2>
			<div class="card-actions justify-end">
				<button
 					class="btn btn-sm btn-error"
 					hx-put={ fmt.Sprintf("/counter/%s/decrement", counter.ID) }
 					hx-target={ "#" + getFigureID(counter.ID) }
 					hx-swap="outerHTML"
				>
					<img class="fa-solid fa-minus"/>
				</button>
				<button
 					class="btn btn-sm btn-success"
 					hx-put={ fmt.Sprintf("/counter/%s/increment", counter.ID) }
 					hx-target={ "#" + getFigureID(counter.ID) }
 					hx-swap="outerHTML"
				>
					<img class="fa-solid fa-plus"/>
				</button>
			</div>
		</div>
	</div>
}

templ VisualIndicator(counter model.CounterIndicatorFields) {
	<figure id={ getFigureID(counter.ID) } class="px-10 pt-10 flex flex-wrap">
		for i:=0;i<counter.UnderTarget;i++ {
			<img class={ fmt.Sprintf("%s text-success fa-%s", baseIndicatorClass, counter.Icon) }/>
		}
		for i:=0;i<counter.LeftToTarget;i++ {
			<img class={ fmt.Sprintf("%s fa-%s", baseIndicatorClass, counter.Icon) }/>
		}
		for i:=0;i<counter.OverTarget;i++ {
			<img class={ fmt.Sprintf("%s text-error fa-%s", baseIndicatorClass, counter.Icon) }/>
		}
	</figure>
}

func GetNumericFieldsFromModel(counterModel *model.Counter) model.CounterIndicatorFields {
	fields := model.CounterIndicatorFields{Counter: *counterModel}
	value := fields.Value
	target := fields.Target
	if value == target {
		fields.UnderTarget = value
		return fields
	}
	if value < target {
		fields.LeftToTarget = target - value
		fields.UnderTarget = value
		return fields
	}
	fields.OverTarget = value - target
	fields.UnderTarget = value - fields.OverTarget
	return fields
}

func getFigureID(id string) string {
	return fmt.Sprintf("figure-%s", id)
}
