package activities

import "personal/health-app/service/model"
import "personal/health-app/service/views/components"

templ ActivityList(activities []model.Activity) {
	<div class="w-full">
		<h2 class="card-title">Activities</h2>
		<div class="grid gap-2">
			for _, activity  := range activities {
				@components.Counter(activity)
			}
		</div>
	</div>
}
